.steps-group {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 100px);
  max-height: 2000px;
  align-items: stretch;
}

.steps-box {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  flex: 50%;
}
