.h-active {
  background-color: rgb(85, 100, 255) !important;
  color: white !important;
}

/* v1 */
.h-v1-completed {
  background-color: hsl(var(--c), 100%, 40%) !important;
}

/* v3 */
.h-v3-completed {
  background-color: hsl(var(--c), 100%, 40%) !important;
}

.h-v3-current {
  background-color: hsl(var(--c), 100%, 20%) !important;
}

/* v4 */
.h-v4-visible {
  opacity: 1 !important;
}
