.v1 {
  --c: var(--v1);
  background-color: hsl(var(--c), 100%, 97%);
}

.v1 > .steps {
  display: flex;
  gap: 15px;
}
.v1 > .steps div {
  width: 50px;
  height: 8px;
  background-color: hsl(var(--c), 100%, 83%);
  border-radius: 1000px;
}
