.v4 {
  --c: var(--v4);
  background-color: hsl(var(--c), 100%, 97%);
}

.v4 > .steps {
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--c), 100%, 75%);
}

.v4 > .steps .block {
  width: 55%;
  aspect-ratio: 1;
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: hsl(var(--c), 100%, 40%);
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.v4 > .steps .block:nth-of-type(1) {
  transform: rotateZ(90deg);
}

.v4 > .steps .block:nth-of-type(2) {
  transform: rotateZ(180deg);
}
.v4 > .steps .block:nth-of-type(3) {
  transform: rotateZ(270deg);
}

.v4 > .steps .circle {
  width: calc(100% - 20px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--c), 100%, 97%);
  z-index: 2;
}
